table{
    width: 100%;
    border-spacing: 0;
    border: var(--ui-high-contrast) solid 1px;
}
td, th{
    border: var(--ui-low-contrast) solid 1px;
    padding: 5px 5px 0 5px;
}
th{
    background-color: var(--ui-low-contrast);
}
tr.button{
    text-align: center;
}

@media (orientation: portrait) {

    table {
        font-size: 0.75rem;
    }
}