body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  --button-hover-margin: 3px;
  --outer-margin: 1rem;
  --title-color:#87cefa;
  --light-gray:#d3d3d3;
}
p{
  margin: 0.2rem;
}
select{
  padding-inline: 5px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding-block: 0.5rem;
  margin: 0;
}

.full-title{
  display: grid;
  margin-bottom: 1rem;
  background-color: var(--title-color);
}
.full-title:first-child{
  padding-top: 0.5rem;
}

.side-margins {
  margin-inline: var(--outer-margin);
}
.vert-margins {
  margin: var(--outer-margin) 0;
}
.shadow_under{
  box-shadow: gray 0 0 1px 1px;
}

button {
  width: fit-content;
  background-color: lightgray;
  padding: 0.2rem 0.5rem;
  border: none;
}
.hoverable,
button{
  border-radius: 3px;
  transition: background-color 0.5s;
}

button:hover{
  background-color: silver;
}
.hoverable:hover{
  background-color: lightgray;
}
.showable{
  background-color: calc(var(--light-gray) * rgba(255,255,255,0));
  transition: background-color 0.5s;
}
.hoverable:hover .showable{
  background-color: var(--light-gray);
  transition: background-color 0.5s;
}
.outline{
  border: lightgrey 1px;
}
.spread-row {
  /*border: green solid 1px;*/
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-content: center;
  align-items: center;
}

.spread-row:where(.down){
  align-items: end;
}
.spread-row:where(.up){
  align-items: start;
}
.spread-row>*{
  /*border: red solid 1px;*/
}

.spread-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.window{
  margin-block: 1rem;
  width: max(25%, 400px);
  padding: 0.5em;
}
.window-header {
  display: grid;
  height: min-content;
  grid-template-columns: min(2em, 100%) 6fr min(2em, 100%);
  align-items: center;
  justify-content:space-between;
  justify-items: stretch;
  direction: rtl;
}
.window-header h2{
  margin: 0;
}
.small-window{
  width: max(15%, 250px);
  margin-block: 1rem;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(30%, 30ch), 1fr));
  gap: 1rem;
}

.trip-row {
  padding: 1rem;
}

.grid-block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.grid-block:has(:hover, :focus) {
  margin-bottom: 0;
}
.grid-button {
  width: auto;
  height: auto;
  margin: 0;
}

.grid-button:hover,
.grid-button:focus {
  background-color: lightblue;
}

.add-button {
  position: relative;
  height: auto;
  border: black solid 5px;
  transition: background-color 0.5s;
}

.add-button:hover {
  border: black solid 5px;
  background-color: white;
}



@media (orientation: portrait){
  .spread-row:where(.reverse)>*:last-child{
    grid-row-end: -1;
  }
  .spread-row:where(.reverse)>*:first-child{
    grid-row-end: -1;
  }
  .small-window{
    width: 75%;
  }
}
