body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  
  --outer-margin: 1rem;

  --text-color: black;
  --background-color: white;
  
  --title-color:#afcdde;
  --special-accent-color: var(--title-color);
  --ui-light: lightgray;
  --ui-dark: gray;


  --ui-high-contrast: var(--ui-dark);
  --ui-low-contrast: var(--ui-light);

  background-color: var(--background-color);
  color: var(--text-color);
}
#root{
  min-height: 100vh;
}
#root.dark{
  --text-color: white;
  --background-color:#101721;

  --title-color: #314957;
  --special-accent-color: var(--title-color);

  --ui-light: #4f4f4f;
  --ui-dark: #303030;

  --ui-high-contrast: var(--ui-light);
  --ui-low-contrast: var(--ui-dark);
  background-color: var(--background-color);
  color: var(--text-color);

}
p{
  margin: 0.2rem;
}
select,
input
{
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  outline: var(--ui-low-contrast) solid 1px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding-block: 0.5rem;
  margin: 0;
}

button{
  border: none;
  border-radius: 5px;
  background-color: var(--ui-light);
  color: var(--text-color);
}

button:hover{
  background-color: var(--ui-dark);
}
.hoverable:hover{
  background-color: var(--ui-light);
}
button.inline{
  width: calc(calc(var(--b-height) + var(--b-pad)) * 2);
  height: calc(var(--b-height) + calc(var(--b-pad) * 2));
  display: grid;
  justify-content: center;
  align-content: center;
}
/*button.add{*/
/*  margin-block: 0.5rem;*/
/*}*/
.top-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.top-row>.empty{
  display: grid;
  flex: 1;
  min-width: 30ch;
  /*border: red solid 1px;*/
}
.top-row>.left{
  justify-content: flex-start;
}
.top-row>.right{
  justify-content: flex-end;
}
.down{
  align-content: flex-end;
}
.center-child{
  display: grid;
  justify-content: center;
  align-content: center;
}

.full-title{
  display: grid;
  grid-template-columns: 8vh 5fr 8vh;
  justify-items: center;
  align-items: center;
  background-color: var(--title-color);
  margin-bottom: var(--outer-margin);

  --b-height: min(4vw,max(20px, 2vh));
  --b-pad: 3px;
}
.title{
  width: 100%;
  position: relative;
  display: grid;
  align-items: center;
}
.title:first-child{
  padding-top: 0.5rem;
}

.side-margins {
  margin-inline: var(--outer-margin);
}
.vert-margins {
  margin-block: var(--outer-margin);
}
.outline{
  outline: var(--ui-dark) solid 1px;
}
.switch{
  position: relative;
  display: inline-block;
  width: calc(calc(var(--b-height) + var(--b-pad)) * 2);
  height: calc(var(--b-height) + calc(var(--b-pad) * 2));
  border-radius: calc(var(--b-height) * 0.5);
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;

  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--ui-light);
  border-radius: calc(var(--b-height) * 0.5);
}

.slider:before{
  content: "";
  position: absolute;
  height: var(--b-height);
  width: var(--b-height);
  left:var(--b-pad);
  bottom:var(--b-pad);
  border-radius: calc(var(--b-height) * 0.5);
  background-color: var(--background-color);
  transition: 0.2s;
}
input:checked+.slider:before{
  transform: translateX(var(--b-height));
}

.showable{
  display: none;

}
.hoverable:hover .showable{
  display: block;
}
.vert-window{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0.5rem;
  gap:0.3rem;
}
.window-header {
  display: grid;
  height: min-content;
  grid-template-columns: min(2em, 100%) 6fr min(2em, 100%);
  align-items: center;
  justify-content:space-between;
  justify-items: stretch;
  direction: rtl;
}
.window-header h2{
  margin: 0;
}

.form-row{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-content: space-between;
}
.form-row input:is(:focus, :focus-visible){
  outline: var(--ui-high-contrast) solid 1px;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(30%, 30ch), 1fr));
  gap: 1rem;
}

.trip-row {
  padding: 1rem;
  outline: var(--ui-low-contrast) solid 1px;
}

.grid-block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.grid-button:hover,
.grid-button:focus {
  background-color: var(--special-accent-color);
}

.row{
  display: flex;
  gap: 1rem;
  align-content: stretch;
}
.row.edges{
  justify-content: space-between;
}
.row.right{
  justify-content: flex-end;
}
.row.stretch{
  align-items: center;
}
.row.stretch>*{
  flex-grow: 0;
}
.row.stretch>.line{
  flex-grow: 1;
}
.line{
  height: 0;
  border: var(--ui-low-contrast) solid 1px;
}
.two-columns{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
.flow-down{
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  gap:1rem;
}

.two-columns>section{
  margin-inline: 0.5rem;
}
.two-columns section>h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.two-columns section>h2:after{
  content: "";
  width: 50%;
  height: .2rem;
  background-color: var(--ui-low-contrast);
}
.two-columns section>h2:before{
  content: "";
  width: 80%;
  height: .2rem;
  background-color: var(--special-accent-color);
}

@media (orientation: portrait){
  .two-columns{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
